<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Kitae Spring Project</title>

    <!-- jQuery, bootstrap 추가 -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>

<div layout:fragment="content" class="content">

</div>
<th:block layout:fragment="script"></th:block>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>
