<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div>Welcome : <span th:text="${name}"></span></div>
        <hr>
        <h1>Your Todo List....</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Description</th>
                    <th>Target Date</th>
                    <th>Is Done?</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todoDto : ${todoDtoList}">
                    <td th:text="${todoDto.id}"></td>
                    <td th:text="${todoDto.description}"></td>
                    <td th:text="${todoDto.targetDate}"></td>
                    <td th:text="${todoDto.isDone()}"></td>
                    <td><a th:href="@{/todo/update/{id}(id=${todoDto.id})}" class="btn btn-primary">수정</a></td>
                    <td><a th:href="@{/todo/delete/{id}(id=${todoDto.id})}" class="btn btn-warning">삭제</a></td>
                </tr>
            </tbody>
        </table>
        <a href="/todo/add" class="btn btn-success" >Add Todo</a>
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
</body>
</html>